@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:wght@500&family=Prata&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark,.dark *));

*{
      font-family: "Outfit", sans-serif;
}

@theme {
    --color-primary: #E6CCFF;
}
::-webkit-scrollbar{
    display: none;
}

.reset-tw :not(pre):not(code){
    all:revert;
}

.loader div:nth-child(2){
    animation-delay: 0.2s;
}
.loader div:nth-child(3){
    animation-delay: 0.4s;
}